@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: Open Sans, sans-serif;
}

a {
    text-decoration: none;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.profile-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
}